# You can copy this template to overwrite env properties for debugging or local development

# RIOT GAMES API KEYS
# https://developer.riotgames.com/docs/portal#_getting-started
RIOT_GAMES_LOL_API_KEY=your-api-key-here

# PLATFORM ROUTING VALUES
# https://developer.riotgames.com/docs/lol#routing-values_platform-routing-values
RIOT_GAMES_EUW1_API_ENDPOINT=euw1.api.riotgames.com

# REGIONAL ROUTING VALUES
# https://developer.riotgames.com/docs/lol#routing-values_regional-routing-values
RIOT_GAMES_EUROPE_API_ENDPOINT=europe.api.riotgames.com

# DATA DRAGON ROUTING VALUES
# https://developer.riotgames.com/docs/lol#data-dragon
RIOT_GAMES_DATA_DRAGON_API_ENDPOINT=https://ddragon.leagueoflegends.com/

# MYSQL CONNECTION
MYSQL_HOST="localhost"
MYSQL_DATABASE="riot_db"
MYSQL_PORT=1234
MYSQL_USER="toDo"
MYSQL_PASSWORD="toDo"